
# string data types in python

In [11]:
#we can define strings in boundries
#' ', " ",''' ''',""" """
name : str ="ali"
print("*")

*

# methoods to create a new line in Python

In [2]:
#1st methood:
print("Hello, world!", end="\n\n\n\n")  # Two newlines after "Hello, world!"
print("This is a new line.")

#or

Hello, world!



This is a new line.

In [1]:
#2nd methood:
print("hello world!")
print()
print("this is new line")

hello world!

this is new line

# ===================x==============================x================

In [9]:
name : str = "ali"
print(name,'father\'s name is mehmood')

ali father's name is mehmood

In [1]:
name : str = "sufan"
fname : str = "amjad"
age : str = "17"
education : str = "intermedate"

card : str = "PIAIC student\nstudent name:" + name + "\nAge:" + age
print(card)

PIAIC student
student name:sufyan
Age:17

In [2]:
"a"+ str(7)

'a7'

# "\" line to continue  (old methood)

In [5]:
print(3 + \
      2 + \
            + 1)

6

# define multiline string """    """

# f-string  (latest thing very usefull) syntex =f"""    """  or '''   '''

In [13]:
name : str = "sufan"
fname : str = "amjad"
agr : int = 17
education : str = "intermediate"

card : str =f"""
PIAIC STUDENT
student name : {name}
father name : {fname}
age : {age}
education : {education}


total {2+3+5}


"""

print(card)

PIAIC STUDENT
student name : sufyan
father name : amjad
age : 17
education : intermediate
school :fg

total 10

# f string anda jinga style

In [ ]:
# jinga style

"""
student name {{name}}
"""

In [51]:
name : str = "   ch rehan    "
print(name.capitalize())  #first letter capital
print(name.casefold())  #all small
print(name.lower())     #convert them to all small
print(name.upper())     #convert them all in big
print(name.lstrip())    #removes extra spaces form left side
print(name.rstrip())    #removes extra spaces form right side
print(name.strip())     #removes extra spaces form both sides
print(name.title())     #capatilize the first letters

   ch rehan
   ch rehan
   ch rehan
   CH REHAN
ch rehan
   ch rehan
ch rehan
   Ch Rehan

In [47]:
import re

name : str = "     ch     rehan       "
display(name)

name1 : str = re.sub(' {2,100}','',name)

display(name1)

'     ch     rehan       '

'chrehan'

In [54]:
first_name = "ch"
last_name = "rehan"
full_name = f"{first_name} {last_name}"
print(f"hello, {full_name .title()}!")

hello, Ch Rehan!

In [60]:
print("name  \t\t = rehan")       #\t for space b/w words
                                  #\n for next line
print("name :\b = rehan")       #\b remeves the previous letter

name  		 = rehan
name  = rehan

# .format methood (old methood)

In [28]:
a = 3
b = 5
# {} is called place holder

"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 3 and value b = 5'

In [2]:
name : str = "sufan"
fname : str = "amjad"
age : int = 17
education : str = "intermediate"

card : str ="""
PIAIC STUDENT
student name : {}
father name : {}
age : {}
education : {}
""".format(name, fname ,age,education)

print(card)

PIAIC STUDENT
student name : sufan
father name : amjad
age : 17
education : intermediate

# recomended below 2 f- string methoods

In [31]:
name : str = "sufyan"
fname : str = "amjad"
agr : int = 17
education : str = "intermediate"

card : str ="""
PIAIC STUDENT
student name : {a}
father name : {b}
age : {c}
education : {d}
""".format(a = name, b = fname , c = age , d= education)

print(card)

PIAIC STUDENT
student name : sufyan
father name : amjad
age : 17
education : intermediate

In [ ]:
name : str = "sufyan"
fname : str = "amjad"
agr : int = 17
education : str = "intermediate"

card : str =f"""
PIAIC STUDENT
student name : {name}
father name : {fname}
age : {age}
education : {education}


total {2+3+5}


"""

print(card)

In [32]:
student_code : str =""" 

print("my name is rehan")
a:int = 4
b:int = 5
print(a+b)
"""
exec(student_code)

my name is rehan
9

# f string real life eg (birthdy greeting card)

In [3]:
name : str = input("enter your name:")
age = int( input("enter your age"))

greeting = f""" 

DEAR {name}!!

happy {age}th birthday !

best wishes,
REGARDS:[ch rehan]

"""
print(greeting)

DEAR sufyan!!

happy 17th birthday !

best wishes,
REGARDS:[ch rehan]

example2

In [5]:
x =3.14159

print(f"the value of ppi is {x:.2f}")   # here 2f is usrd for adding 2 floting numbers in the result

the value of ppi is 3.14

# string methoods and attributes
# methood we have studied 
# print
# id
# type
# dir
# len

In [36]:
a : list [str] =[i for i in dir(str) if "__" not in i]

print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47