# Python divides the operators in the following groups:

* Arithmetic operators 
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arithmetic Operators
* Arithmetic operators are used with numeric values to perform common mathematical operations

In [26]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
a:int= 3
b:int= 11

print(a%b)    # as % is modulas or remainder

3

In [4]:
a:int= 3
b:int= 11
print(a**2)
         # ** is used for power

6

In [6]:
# //	Floor division

print(14/3) # sinple division

print (14//3) #float division it will only print integer value

4.666666666666667
4

# Python Assignment Operators
* Assignment operators are used to assign values to variables:

In [4]:
table[1]

NameError: name 'table' is not defined

In [13]:


a :int =7
a += 2
print(a)

9

In [22]:
a : int =3
a*=4
a+=4
a/=2

print(a)

8.0

# Python Comparison Operators
* Comparison operators are used to compare two values:

In [38]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [39]:
a : int = 6
b : int = 7
print(a == b)
#6 == 7
# false

False

In [42]:

a : int = 8
b : str = "8"
print(a == b)

False

In [44]:
a : int = 7
b : int = 7
print(a != b)

False

In [8]:
# ASCI CODE (char will give the alphabet while we will add ASCII CODE in function)

chr(90)

'Z'

In [5]:
# (ORD()) will give the ASCII CODE while we will add ALPHABET in function)

ord('A')

65

# Python Logical Operators
* Logical operators are used to combine conditional statements:

In [27]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [33]:
print(True and True and False)
print(True and True and True)
print(False or False or True)

False
True
True

In [40]:
#not
name :str = "rehan"
print( name!="rehan")

False

In [48]:
# 

x : str = "3"
y : str = "3"
print(id(x))
print(id(y))

140726165387320
140726165387320

In [49]:
x is y

True

In [58]:

x : str = "3"
y : str = "3"
# print(id(x))
# print(id(y))

In [59]:
x is not y

False

# Python Membership Operators
* Membership operators are used to test if a sequence is presented in an objec

In [60]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [66]:
names : list[str] = [chr(i) for i in range(65,91)]
display(names)

'D' in names                      # IN OPERATOR MAKES OUR LIFE EASY

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [69]:
# OTHER EXAMPLE  IN

names : list[str] =["ali" , "rehan"]

uinput :str = input("enter your name")

uinput in names

True

In [7]:
#NOT IN

names : list[str] =["ali" , "rehan"]

uinput :str = input("enter your name")

uinput  not in names

True

# PEMDAS or BODMAS (rule)
* (parentheses , exponent or power , multiply , divide ,add ,subtract)

In [9]:
print(3 + 4 *(2))

11

In [10]:
data = ['rehan' ,7 ,313]
print(*data)

rehan 7 313

In [13]:
# 

'a'*6         # staric bw string and number

'aaaaaa'

In [4]:
a:int = 9

if(a < (b := a+5)):
 print(b)
else:
 print('elsse')

14

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# calculator project 
* using operators bt chatgpt code

In [6]:
# define a function for each operator


def add(x,y):
    return(x+y)

def sub(x,y):
    return(x-y)

def sum(x,y):
    return(x*y)

def div(x,y):
    if y==0 :
        return "error! division with zero is not alowed"
    else:
        return x/y 
    

    
    
choice = int(input("Enter your choice (1/2/3/4): "))

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform the operation and display the result
if choice == 1:
	print("Result: ", add(num1, num2))
elif choice == 2:
	print("Result: ", sub(num1, num2))
elif choice == 3:
	print("Result: ", sum(num1, num2))
elif choice == 4:
	print("Result: ", div(num1, num2))
else:
	print("Invalid choice!")

Result:  2.0