# list
* iteration operation with loop
* apply any operation on loop

# new methood

In [15]:
names :list[str] = ['bilal','ahmed',"sam","ali"]

for name in names:
    print(name.capitalize())

Bilal
Ahmed
Sam
Ali

# old methood

In [16]:
names :list[str] = ['bilal','ahmed',"sam","ali"]

i:int =0  # counter=0
while i<len(names): #names length=3
    print(names[i])
    i+=1

bilal
ahmed
sam
ali

In [17]:
names :list[str] = ['bilal','ahmed','sam','ali']

for name in names:
    print(f'{name.capitalize()}! nice to meet you....')

Bilal! nice to meet you....
Ahmed! nice to meet you....
Sam! nice to meet you....
Ali! nice to meet you....

In [18]:
names :list[int] = [1,2,3,4,5]
for nam in names:
    print(nam)

1
2
3
4
5

In [19]:
names :list[str] = ['bilal','ahmed','sam','ali']

for name in names:
    print(f'{name.capitalize()}! nice to meet you....')
    print(f'where are you from {name.title()}\n')

Bilal! nice to meet you....
where are you from Bilal

Ahmed! nice to meet you....
where are you from Ahmed

Sam! nice to meet you....
where are you from Sam

Ali! nice to meet you....
where are you from Ali

In [20]:
# TRY IT YOURSELF
# 4-1. Pizzas: Think of at least three kinds of your favorite pizza. Store these 
# pizza names in a list, and then use a for loop to print the name of each pizza.
# • Modify your for loop to print a sentence using the name of the pizza, 
# instead of printing just the name of the pizza. For each pizza, you should 
# have one line of output containing a simple statement like I like pepperoni pizza.
# • Add a line at the end of your program, outside the for loop, that states 
# how much you like pizza. The output should consist of three or more lines 
# about the kinds of pizza you like and then an additional sentence, such as 
# I really love pizza


fav_flavours : list[str] = ["chicken fagita","bbq","crown crust"]

for pizza in fav_flavours:
    print(f"{pizza.capitalize()} is my favourite pizza..\n")
    
print("i love pizzas")

Chicken fagita is my favourite pizza..

Bbq is my favourite pizza..

Crown crust is my favourite pizza..

i love pizzas

In [21]:
# 4-2. Animals: Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to 
# print out the name of each animal.
# • Modify your program to print a statement about each animal, such as A 
# dog would make a great pet.
# • Add a line at the end of your program, stating what these animals have in 
# common. You could print a sentence, such as Any of these animals would 
# make a great pet

animals : list[str] = ["cat","dog","goat"]
for animal in animals:
    print(f"{animal.upper()} is good pet..\n")
print("they are mamels")

CAT is good pet..

DOG is good pet..

GOAT is good pet..

they are mamels

# Using the range() Function

In [22]:
for values in range(1,11):
    print(values)

1
2
3
4
5
6
7
8
9
10

In [23]:
for no in range(6):
    print(no)

0
1
2
3
4
5

# Using range() to Make a List of Numbers

In [24]:
numbers = list(range(1,11,2))
print(numbers)

[1, 3, 5, 7, 9]

In [25]:
squares  = "*"
for value in range(1,11):
    # square = value+1
    # squares.append(square)
      print(squares)

*
*
*
*
*
*
*
*
*
*

In [26]:
teachers : list[str] =["zia","usman","rehan"]

for name in teachers:
    print(f'WELCOME!! Teachers {name.title()}..')
    print("in GEN AI course\n")

WELCOME!! Teachers Zia..
in GEN AI course

WELCOME!! Teachers Usman..
in GEN AI course

WELCOME!! Teachers Rehan..
in GEN AI course

In [27]:
teachers : list[str] =["zia","usman","rehan"]

for name in teachers[:2]:          # it will print all the values expect 2
    print(f'WELCOME!! Teachers {name.title()}..')
    print("in GEN AI course\n")

WELCOME!! Teachers Zia..
in GEN AI course

WELCOME!! Teachers Usman..
in GEN AI course

In [28]:
teachers : list[str] = ["zia","usman","rehan"]

for name in teachers[:2]:
    print(f'welcome {name}...')

welcome zia...
welcome usman...

In [29]:
teachers : list[str] = ["zia","usman","rehan"]

for name in teachers[:1]:
    print(f'welcome {name}...')

welcome zia...

In [30]:
teachers : list[str] = ["zia","usman","rehan"]

for name in teachers[:3]:
    print(f'welcome {name}...')

welcome zia...
welcome usman...
welcome rehan...

In [31]:
teachers : list[str] = ["zia","usman","rehan"]

for name in teachers[-3:]:
    print(f'welcome {name}...')

welcome zia...
welcome usman...
welcome rehan...

In [32]:

data_base : list[tuple[str,str]] = [("rehan","123"),
                                    ("ali","235"),
                                    ("usman","456"),
                                    ]

for row in data_base:
    print(row)

('rehan', '123')
('ali', '235')
('usman', '456')

In [33]:
input =input("enter name")
print(input)

# example

In [1]:


data_base : list[tuple[str,str]] = [("rehan","123"),
                                    ("ali","235"),
                                    ("usman","456"),
                                    ]

user_input  = input("Enter  name")
user_password  = input("Enter password")

for row in data_base:
    user , pin = row
    if user_input == user  and user_password == pin:
        print("valid user!")
        break
else:
    print("not found..Invalid user!!")

valid user!

In [7]:

# enumrate function   *gives indx numbers with list
teachers : list[str] = ["zia","usman","rehan"]

list(enumerate(teachers))

[(0, 'zia'), (1, 'usman'), (2, 'rehan')]

In [8]:
teachers : list[str] = ["zia","usman","rehan"]

for index , names in enumerate(teachers):
    print(index,names)

0 zia
1 usman
2 rehan

# Numbers with range
* range(start,end,step)  (range is generator fuction..)

In [3]:
range (1,3)

range(1, 3)

In [4]:
list(range(0,10)) #starting=0 , ending=(n-1) ,sttep

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(2,21,2))  #table of 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

# table of 2

In [10]:
for n in range(1,11):
    print(f" 2 X {n} = {n*2}")

 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18
 2 X 10 = 20

# table of 5

In [12]:
for n in range(1,11):
    print(f"5 X {n} = {n*5}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [16]:
squares:list[int]=[]
for value in range(1,11):
    square = value**2
    squares.append(square)

print(squares)               # same code is below in only one line

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# list comprehensive

In [22]:

#  for item in items_list:
#        loop_body
#===================x=========================x=======

# comprehensive style:

# [loop_body for item in items_list]

print([i**2  for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
numbers : list[int] = [1,2,3,4,5,6,7,8,9,11,10]

print(numbers)
print(max(numbers))
print(min(numbers))
print(sum(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 10]
11
1
66

In [30]:
my_foods = ["pizza","alfado","carrot cake"]    # benifit of slicing:
friends_food = my_foods[:]                     # deep copy (it will not change orignal list)
print(my_foods)
print(my_foods , friends_food)

friends_food[0] ="burger"
print(friends_food)
print(my_foods)

['pizza', 'alfado', 'carrot cake']
['pizza', 'alfado', 'carrot cake'] ['pizza', 'alfado', 'carrot cake']
['burger', 'alfado', 'carrot cake']
['pizza', 'alfado', 'carrot cake']

In [33]:
# tuple (not updateable , constant) (fix value we cant assign any value in tuple)

names : tuple = ("A","B","C")
print(names[0])
print(names[0:2])
# names[0]="c"   error

A
('A', 'B')

In [35]:
from typing import Any
name : tuple =("a",[1,2,3],"b")
print(name[0])
print(name[1])

a
[1, 2, 3]